config HAVE_NET_DSA
	def_bool y
	depends on INET && NETDEVICES && !S390

# Drivers must select NET_DSA and the appropriate tagging format

config NET_DSA
	tristate "Distributed Switch Architecture"
	depends on HAVE_NET_DSA && MAY_USE_DEVLINK
	select NET_SWITCHDEV
	select PHYLIB
	---help---
	  Say Y if you want to enable support for the hardware switches supported
	  by the Distributed Switch Architecture.

if NET_DSA

config NET_DSA_DEBUGFS
	bool "Distributed Switch Architecture debugfs interface"
	depends on DEBUG_FS
	---help---
	  Enable creation of debugfs files for the DSA core.

	  These debugfs files provide per-switch information, such as the tag
	  protocol in use and ports connectivity. They also allow querying the
	  hardware directly through the switch operations for debugging instead
	  of going through the bridge, switchdev and DSA layers.

	  This is also a way to inspect the stats and FDB, MDB or VLAN entries
	  of CPU and DSA links, since they are not exposed to userspace.

# tagging formats
config NET_DSA_TAG_BRCM
	bool

config NET_DSA_TAG_DSA
	bool

config NET_DSA_TAG_EDSA
	bool

config NET_DSA_TAG_TRAILER
	bool

config NET_DSA_TAG_QCA
	bool

config NET_DSA_TAG_MTK
	bool

config NET_DSA_TAG_LAN9303
	bool

endif
